backups/
.cloud/
.code-server/
custom_components/
*.db
*.db-shm
*.db-wal
.ha_run.lock
.HA_VERSION
image/
ip_bans.yaml
*.log
*.log.*
packages/untracked_packages/
.secrets/*
secrets.yaml
solcast*
.storage/
themes/mushroom
tts/
www/
